* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #335788;
  height: 30px;
  padding: 20px;
}

header img {
  width: 20%;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 20px;
}

h1 {
  color: black;
  font-weight: 400;
  font-size: 2em;
}

h2 {
  font-weight: 300;
  font-size: 1.3em;
}

.section1,
.section2,
.section3,
.section4 {
  padding: 50px;
}

.box-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.menu li {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
}

.menu li a {
  color: white;
}
.menu li a:hover {
  color: #92b9ef;
}

/* SECTION 1 HERO */
/* --------------------------------------------- */

.section1 {
  position: relative;
  height: 500px;
  background-image: url("./images/nice-night.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.cta {
  position: absolute;
  top: 200px;
  left: 170px;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.slogan {
  font-size: 2.5em;
  color: white;
  margin-bottom: 20px;
}

.bouton {
  background-color: blue;
  color: white;
  width: 200px;
  height: 5%;
  font-weight: bold;
  padding: 10px;
  border-radius: 0 0 50px 0;
}
.bouton:hover {
  background-color: red;
}

/* SECTION 2 */
/* --------------------------------------------- */
.section2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #92b9ef;
}

.section2 img {
  width: 50%;
  border: 2px solid white;
}

.section2 p {
  margin-bottom: 5%;
}

.parent-contenu-s2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.parent-contenu-s2 div {
  width: 50%;
}

/* SECTION 3*/
/* --------------------------------------------- */
.section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d0def3;
}

.card {
  width: 30%;
  border: 1px solid black;
  padding: 10px;
}
.card img {
  width: 100%;
}

.card a {
  color: blue;
  font-weight: bold;
}
.card a:hover {
  color: yellow;
  font-weight: bold;
}

.parent-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* SECTION 4*/
/* --------------------------------------------- */
.section4 {
  background-color: #ffffff;
}

.parent-chart {
  width: 50%;
}
/* FOOTER*/
/* --------------------------------------------- */
footer {
  background-color: #000;
  color: white;
  height: 150px;
}
